<form action="/my-handling-form-page" method="post">
    <ul>
      <li>
        <label for="from">From:</label>
        <select>
            <option value="EUR">EUR</option>
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="USDT">USDT</option>
            <option value="ADA">ADA</option>
            <option value="SOL">SOL</option>
            <option value="XRP">XRP</option>
            <option value="DOT">DOT</option>
            <option value="DOGE">DOGE</option>
            <option value="SHIB">SHIB</option>
        </select>
      </li>
      <li>
        <label for="to">TO:</label>
        <select>
            <option value="EUR">EUR</option>
            <option value="BTC">BTC</option>
            <option value="ETH">ETH</option>
            <option value="USDT">USDT</option>
            <option value="ADA">ADA</option>
            <option value="SOL">SOL</option>
            <option value="XRP">XRP</option>
            <option value="DOT">DOT</option>
            <option value="DOGE">DOGE</option>
            <option value="SHIB">SHIB</option>
        </select>
      </li>
      <li>
        <label for="msg">Message:</label>
        <textarea id="msg" name="user_message"></textarea>
      </li>
    </ul>
  </form>