<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cambio de criptomonedas</title>
</head>
<body>
    <header>myCRYPTO</header>

    <nav>
        Inicio / Nuevo / Compra
    </nav>
    <h2>Movimientos</h2>
    <section class="seccion-movimientos">
        <table class="paper">
          <thead>
            <tr>
              <th class="titulo-tabla">Fecha</th>
              <th class="titulo-tabla">Hora</th>
              <th class="titulo-tabla">Q</th>
              <th class="titulo-tabla">To</th>
              <th class="titulo-tabla">Q</th>
              <th class="titulo-tabla">P.U</th>
            </tr>
          </thead>
          <tbody id="cuerpo-tabla">
            <td class="datos-tabla">30/03/2023</td>
            <td class="datos-tabla">18:48:20</td>
            <td class="datos-tabla">EUR</td>
            <td class="datos-tabla">BTC</td>
            <td class="datos-tabla">1</td>
            <td class="datos-tabla">12424</td>
            <!-- Aquí tenemos que cargar los movimientos que leamos desde la API -->
          </tbody>
        </table>
      </section>
      <a href="/status">
        <button style="background-color: gray; color: black; border-radius: 2px;" >Status</button>
      </a>
      <a href="/purchase">
        <button style="background-color: gray; color: black; border-radius: 2px; float: right;" >Purchase</button>
      </a>

      <footer class="pie-pagina">
        R® 2023 Keep Coding Learn programming bootcamp   
      </footer>
</body>
</html>