<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link rel="stylesheet" href="/static/css/purchase.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase</title>
</head>
<body>
    <header>myCRYPTO</header>

    <nav>
        Inicio / Nuevo / Compra
    </nav>
    <h2>Compra de criptomonedas</h2>

    <form action="/my-handling-form-page" method="post">
        <ul>
          <li>
            <label for="from">From:</label>
            <select>
                <option value="EUR">EUR</option>
                <option value="BTC">BTC</option>
                <option value="ETH">ETH</option>
                <option value="USDT">USDT</option>
                <option value="ADA">ADA</option>
                <option value="SOL">SOL</option>
                <option value="XRP">XRP</option>
                <option value="DOT">DOT</option>
                <option value="DOGE">DOGE</option>
                <option value="SHIB">SHIB</option>
            </select>
          </li>
          <li>
            <label for="to">TO:</label>
            <select>
                <option value="EUR">EUR</option>
                <option value="BTC">BTC</option>
                <option value="ETH">ETH</option>
                <option value="USDT">USDT</option>
                <option value="ADA">ADA</option>
                <option value="SOL">SOL</option>
                <option value="XRP">XRP</option>
                <option value="DOT">DOT</option>
                <option value="DOGE">DOGE</option>
                <option value="SHIB">SHIB</option>
            </select>
          </li>
          <li>
            <label for="msg">Message:</label>
            <textarea id="msg" name="user_message"></textarea>
          </li>
        </ul>
      </form>

    <footer class="pie-pagina">
        R® 2023 Keep Coding Learn programming bootcamp   
      </footer>
</body>
</html>