{% extends 'base.html' %}
{% block contenido%}
</head>
<body>

    <h2>Compra de criptomonedas </h2>

        <h1>Invertido: </h1>  <!-- Add here the value from SQL -->
        <h1>Valor actual: </h1> <!-- Add here the value from SQL -->

        <a href="/">
            <button style="background-color: gray; color: black; border-radius: 2px;     height:20px; 
            width:100px; 
            margin: -20px -50px; 
            position:relative;
            top:50%; 
            left:50%; ">Home</button>
        </a>

        
</body>
</html>
{% endblock contenido %}