h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

header {
    background-color: var(--primary-color);
    color: white;
    height: 50px;
    font-size: large;
    line-height: 50px;
    padding-left: 25px;
  }