
:root {
    --primary-color: #695a5fde;
    --secondary-color: #19a187;
  
    --medium-gray: #666;
    --error-color: var(--primary-color);
  
    --default-border: solid thin var(--secondary-color)
  }


h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

h2 {
    color: black;
    text-align: center;
}

header {
    background-color: var(--primary-color);
    color: black;
    height: 50px;
    font-size: large;
    line-height: 50px;
    padding-left: 25px;
    border: solid 2px black;
  }

  nav {
    color: black;
    line-height: 5px;
    padding-left: 10px;
    padding-top: 10px;
  }

footer {
    background-color: var(--primary-color);
    color: black;
    height: 45px;
    margin-top: 30px;
    font-size: large;
    line-height: 45px;
    padding-left: 5px;
    border: solid 1px black;
}

#outer{
    width:100%;
    text-align: center;
}

.inner{
    display:ruby-text;
}

table.paper {
    width: 100%;
}
  
.titulo-tabla {
    border-bottom: solid thin black;
    text-align: left;
}

.datos-tabla {
    text-align: left;
}


.fecha,
.numero,
.acciones {
  text-align: right;
}
